body {
  font-family: "Lucida Console";
  font-size: 13px;
  background-color: #d2d2;
  overflow:hidden;
}

.container {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  margin-bottom: 12px;
  -webkit-box-shadow: 9px 10px 10px -6px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 9px 10px 10px -6px rgba(0, 0, 0, 0.44);
  box-shadow: 9px 10px 10px -6px rgba(0, 0, 0, 0.44);
  cursor: pointer;
  -moz-transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  text-align: center;
  font-size: 15px;
}

.container:hover {
  background-color: #e2e2e2;
}
#list {
  width: 60%;
  margin: 0 auto;
  height: 400px;
  padding: 4px;
}
#nav {
  border: 1px solid black;
  height: 50px;
  margin: -9px;
  border-bottom: 4px solid pink;
  margin-bottom: 10px;
  background-color: #e2e2e2;
}
#nav span {
  margin: 18px;
  display: block;
}

.stretch-top {
  width: 100%;
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e2e2e2;
}

#modal {
  display:none;
  text-align: center;
  background-color: none;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#modal-header {
  background-color: #ffd8ff;
  color: black;
  position: absolute;
  width: 100%;
  height: 90px;
  z-index: 2;
}

#modal-body {
  position: absolute;
  top: 0;

  left: 0;
  margin-top: 90px;
  color: black;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  z-index: 1;
}

.close {
  float: right;
  margin: 45px;
  margin-top: -35px;
  font-size: 39px;
  cursor: pointer;
  font-weight: bold;
}
.slideInUp {
  -webkit-animation: slideInUp 0.4s ease-in; /* Safari 4+ */
  -moz-animation: slideInUp 0.4s ease-in; /* Fx 5+ */
  -o-animation: slideInUp 0.4s ease-in; /* Opera 12+ */
  animation: slideInUp 0.4s ease-in; /* IE 10+, Fx 29+ */
}
.slideInDown {
  -webkit-animation: slideInDown 0.4s ease-in; /* Safari 4+ */
  -moz-animation: slideInDown 0.4s ease-in; /* Fx 5+ */
  -o-animation: slideInDown 0.4s ease-in; /* Opera 12+ */
  animation: slideInDown 0.4s  ease-in; /* IE 10+, Fx 29+ */
}
